
<h3>Record a New Migraine:</h3>
<%= form_for @migraine do |f| %>
  <div>
    <b><%= f.label :migraine_date %>:</b>
    <br>
    <%= f.date_field :migraine_date , :size=>"50" %>
  </div>
  <div>
  <br>
    <b>Severity:</b>
    <%= f.radio_button :severity, "Mild" %>
    <%= f.label :severity_mild, "Mild" %>
    <%= f.radio_button :severity, "Moderate" %>
    <%= f.label :age_moderate, "Moderate" %>
    <%= f.radio_button :severity, "severe" %>
    <%= f.label :age_severe, "Severe" %>
    
  </div>
  <div>
  <br>
  <b>Symptoms:</b>
    
    <% @symptoms.each do |s| %>
        <div class="checkbox">
            <%= f.check_box :symptoms, { multiple: true }, s,  nil %>
            <%= f.label "symptoms", s %>
        </div>
    <% end %>
  </div>
   <div>
  <br>
 <b>Triggers:</b>
    <div class="checkbox">
    <% @triggers.each do |t| %>
        
            <%= f.check_box "triggers"  %>
            <%= f.label "triggers", t %>
        
    <% end %>
    </div>
  </div>
   <div>
  <br>
  <b>Medications:</b>
    
    <% @medications.each do |m| %>
        <div class="checkbox">
            <%= f.check_box "medications"  %>
            <%= f.label "medications", m %>
        </div>
    <% end %>
  </div>
  <div>
    <br>
    <b><%= f.label :notes %>:</b>
    <br>
    <%= f.text_area :notes, :size=>"50" %>
  </div>
  
  <%= f.submit %>
<% end %>