<%= render "navBar" %>
<h3><%= @migraine.migraine_date.strftime("%d of %B, %Y") %></h3>
<p>Notes: <%= @migraine.notes %></p>
<p>Severity: <%= @migraine.severity %></p>
<p> Symptoms: <%= @migraine.symptoms.to_str.slice(2..-3) %></p>
<p> Triggers: <%= @migraine.triggers.to_str.slice(2..-3) %></p>
<p> Medications: <%= @migraine.medications.to_str.slice(2..-3)  %></p>
<% if can? :crud, @migraine %>
  <%= button_to "Edit", edit_migraine_path(@migraine), method: :get%>
  <%= button_to "Delete", migraine_path(@migraine.id), method: :delete, data: {confirm: "Are you sure"} %></p>
<% end %>
<%= render "layouts/footer" %>

