<%= render "migraines/navBar" %>

<h1><%= @post.title %></h1>

<p><%= @post.body %></p>

<p>Created <%= time_ago_in_words(@post.created_at) %> ago </p>

<% if can? :crud, @post %>
  <%= button_to "Edit", edit_post_path(@post), method: :get, class:"button-8"%>
  <%= button_to "Delete", post_path(@post.id), method: :delete, data: {confirm: "Are you sure"}, class:"button-8" %></p>
<% end %>

<% @post.comments.each do |com| %>
    <%= com.body %>
    <p>Created <%= time_ago_in_words(com.created_at) %> ago 
    <% if can? :crud, com %>
      <%= link_to 'Delete',  post_comment_path(@post.id, com.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"button-8" %>
    <% end %>
    </p>
    <hr>
<% end %>
 
<%= @comment.errors.full_messages.join(', ') %>
<p> Add a Comment:</p>
<%= form_for [@post, @comment] do |f| %>
    <%= f.text_area :body %>
    <br>
    <%= f.submit :Create, class:"button-8" %>
<% end %>

