    <nav class="navbar navbar-expand-med navbar-light bg-light">
    <a class="navbar-brand" href="./" style ="margin-left: 5px">
    <img src="https://thumbs.dreamstime.com/b/brain-vector-icon-line-isolated-white-background-148822167.jpg" width="50" height="50" class="d-inline-block align-top" alt="" style ="margin-left: 25px">
     <p >Migrane Tracker
     </p>
    </a>
    <p> <% flash.each do |type, message| %>
                <div class="alert alert-info" role=alert >
                <%= type + "--" + message %>
                </div>
            <% end %> <p>

  <div class=" navbar navbar-expand ">
    <ul class="navbar-nav mr-auto">
        <div class=" navbar navbar-expand ">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/migranes/home" style="color: black ;">Home</a>
                 </li>
                <% if user_signed_in? %>
                    <li class="nav-item active">
                        <a class="nav-link" href="/migranes/new" style="color: black ;">Record a Migrane</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/" style="color: black ;">History</a>
                    </li>
                
                    <span class="navbar-text" style ="margin-right: 5px">
                    Hello <%= link_to current_user.first_name, edit_user_path(@user.id) %> 
                    </span>
                    <span class="navbar-text" >
                    <%= button_to "Logout", session_path, method: :delete,
                    data: {confirm: "are you sure you want to log out?"}%>
                    </span>
                <% else %>
                    <li class="navbar-text">
                       <%= button_to "Login", new_session_path, method: :get %>
                    </li>
                    <li class="navbar-text" style ="margin-left: 5px">
                        <%= button_to "Sign Up", new_user_path, method: :get  %>
                    </li>
                <% end %>
  </div>
</nav>